@import "../../../../resources/styles/index.scss";

.LinkBtn {
  @include flex-center-column;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  padding: 0.6rem;
  box-sizing: border-box;
  border-radius: 0.7rem;
  min-width: 150px;

  svg {
    color: $blue;
    font-size: 3rem;
  }

  h4 {
    margin-top: 1.2rem;
    font-weight: 100;
    color: $fontSecondary;
  }

  &:hover {
    background-color: $blue;

    svg,
    h4 {
      color: $fontPrimary;
    }
  }
}

a {
  text-decoration: none;
}
