@import "../../../resources/styles/index.scss";

.DatePicker {
  min-width: 280px;
  border: 1px solid $background;
  padding: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;

  h3 {
    color: $background;
    font-weight: 400;
  }
}

@include tablet {
  .DatePicker {
    min-width: 220px;

    h3 {
      font-size: 1rem;
    }
  }
}

@include mobile {
  .DatePicker {
    min-width: 200px;

    h3 {
      font-size: 0.8rem;
    }
  }
}
