@import "../../../resources/styles/index.scss";

.RecentLaunches {
  margin-top: 1rem;

  .Top {
    @include flex-center;
    justify-content: space-between;
    padding: 0.4rem;
    margin-bottom: 2rem;

    h2 {
      color: $fontPrimary;
      font-weight: 100;
      font-size: 2.5rem;
    }
  }

  .Content {
    @include flex-center;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
}

@include tablet {
  .RecentLaunches {
    margin-top: 1rem;

    .Top {
      h2 {
        font-size: 1.5rem;
      }
    }
  }
}
