@import "../../../resources/styles/index.scss";

.Ship {
  background-color: $foreground;
  border-radius: 1rem;
  width: 350px;

  img {
    width: 100%;
    object-fit: contain;
    border-radius: 1rem;
  }

  h3 {
    font-weight: 100;
    color: $fontSecondary;
    margin: 0.8rem 0 0.8rem 0.8rem;

    span {
      color: $fontPrimary;
      font-weight: 300;
    }
  }
}
