@import "../../../resources/styles/index.scss";

.LatestLaunch {
  display: flex;

  .LeftContainer {
    @include flex-center-column;
    margin-right: 1.5rem;
    justify-content: flex-start;
  }

  .RightContainer {
    box-sizing: border-box;
    width: 100%;
  }
}

@include tablet {
  .LatestLaunch {
    @include flex-center-column;

    .LeftContainer {
      margin-bottom: 2rem;
    }
  }
}
