@import "../../../resources/styles/index.scss";

.LaunchesWrapper {
  @include flex-center-column;
  width: 100%;
  position: relative;
}

.LaunchesWrapper > * {
  margin: 1rem 0;
  width: 100%;
}

.NotFound {
  @include flex-center-column;

  h2 {
    font-weight: 100;
    color: $fontPrimary;
    margin-top: 2rem;
  }

  img {
    width: 200px;
    transform: rotate(30deg);
  }
}
