@import "../../../resources/styles/index.scss";

.Launch {
  background-color: $foreground;
  border-radius: 0.6rem;
  width: 100%;
  padding: 0.5rem;
  position: relative;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;

  .Top {
    @include flex-center;
    justify-content: space-between;

    .Name_Date {
      @include flex-column;
      align-items: flex-start;
      min-width: 50%;
      max-width: 50%;

      h2 {
        color: $blue;
        font-weight: 100;
        font-size: 2.8rem;
      }

      h4 {
        margin-top: 0.3rem;
        color: $fontSecondary;
        font-weight: 100;
      }
    }

    .Column {
      @include flex-column;
      align-items: flex-start;

      .Row {
        @include flex-center;
        margin: 0.5rem 0;
        font-size: 1.3rem;

        h4 {
          font-weight: 100;
          color: $fontSecondary;
        }

        h3 {
          margin-left: 0.6rem;
          color: $fontPrimary;
        }
      }
    }

    .LaunchNumber {
      color: $fontSecondary;
      font-weight: 100;
      font-size: 2rem;
    }
  }

  .Content {
    display: flex;
    margin-top: 1rem;

    &__Element {
      @include flex-column;
      margin-right: 1rem;

      .Title,
      .Value {
        margin-top: 0.5rem;
        font-weight: 100;
      }

      .Title {
        color: $fontSecondary;
      }

      .Value {
        color: $fontPrimary;
      }
    }
  }

  .Flag {
    width: 80px;
    position: absolute;
    right: 0;
    bottom: -15px;
    border-bottom-right-radius: 2rem;
  }

  &:hover {
    background-color: $dark;
  }
}

@include large {
  .Launch {
    .Top {
      flex-direction: column;
      align-items: flex-start;

      .Name_Date {
        margin-bottom: 0.7rem;
        max-width: 60%;
        min-width: 60%;
      }

      .Column {
        .Row {
          font-size: 1.2rem;
        }
      }

      .LaunchNumber {
        font-size: 1.2rem;
      }
    }
  }
}

@include tablet {
  .Launch {
    .Top {
      flex-direction: column;
      align-items: flex-start;

      .Name_Date {
        align-items: flex-start;
        margin-bottom: 0.7rem;
        max-width: 90%;
        min-width: 90%;

        h2 {
          font-size: 1.8rem;
        }

        h4 {
          font-size: 0.7rem;
        }
      }
    }

    .Content {
      margin-top: 1rem;

      &__Element {
        .Title,
        .Value {
          font-size: 0.7rem;
        }
      }
    }

    .Flag {
      width: 40px;
      position: absolute;
      right: 0;
      bottom: -7px;
      border-bottom-right-radius: 1.3rem;
    }
  }
}

@include mobile {
  .Launch {
    .Top {
      flex-direction: column;
      align-items: flex-start;

      .Name_Date {
        align-items: flex-start;
        margin-bottom: 0.7rem;
        max-width: 90%;
        min-width: 90%;

        h2 {
          font-size: 1.8rem;
        }

        h4 {
          font-size: 0.7rem;
        }
      }

      .Column {
        .Row {
          font-size: 0.9rem;
        }
      }

      .LaunchNumber {
        font-size: 0.9rem;
      }
    }

    .Content {
      margin-top: 1rem;

      &__Element {
        .Title,
        .Value {
          font-size: 0.7rem;
        }
      }
    }

    .Flag {
      width: 40px;
      position: absolute;
      right: 0;
      bottom: -7px;
      border-bottom-right-radius: 1.3rem;
    }
  }
}

a {
  text-decoration: none;
}
