@import "../../../resources/styles/index.scss";

.Launch {
  background-color: $foreground;
  border-radius: 0.6rem;
  width: 100%;
  padding: 0.5rem;
  position: relative;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: $dark;
  }
}

a {
  text-decoration: none;
}
