@import "../../../resources/styles/index.scss";

.Countdown {
  @include flex-center;
  justify-content: space-between;
  width: 100%;

  .Element {
    @include flex-center-column;

    h2 {
      font-family: "Roboto", monospace;
      color: $blue;
      font-size: 10rem;
      font-weight: 400;
    }

    h4 {
      color: $fontPrimary;
      font-weight: 100;
    }
  }

  .Colon {
    @include flex-center;
    font-size: 6rem;
    color: $blue;
  }
}

@include desktop {
  .Countdown {
    .Element {
      h2 {
        font-size: 6rem;
      }
      h4 {
        font-size: 1rem;
      }
    }
    .Colon {
      font-size: 4rem;
    }
  }
}

@include tablet {
  .Countdown {
    .Element {
      h2 {
        font-size: 4rem;
      }
      h4 {
        font-size: 0.8rem;
      }
    }
    .Colon {
      font-size: 3rem;
    }
  }
}

@include mobile {
  .Countdown {
    .Element {
      h2 {
        font-size: 3rem;
      }
      h4 {
        font-size: 0.6rem;
      }
    }
    .Colon {
      font-size: 2rem;
    }
  }
}
