@import "../../../resources/styles/index.scss";

.SkeletonWrapper {
  position: relative;
  overflow: hidden;
  border-radius: 1rem;
  background-color: rgba($color: #090909, $alpha: 0.2);

  .RecentLaunchSkeleton {
    @include flex-center-column;
    justify-content: space-evenly;
    width: 240px;
    height: 350px;
  }

  .LaunchShortInfoSkeleton {
    @include flex-column;
    align-items: flex-start;
    justify-content: space-evenly;
    height: 160px;
    padding: 0.5rem;

    .Row {
      width: 100%;
      display: flex;
    }
  }

  .LaunchExtendedInfoSkeleton {
    display: flex;
    height: 300px;

    .Left {
      @include flex-center-column;
      justify-content: space-between;
      width: 300px;
    }

    .Right {
      @include flex-column;
      width: 100%;

      .Details {
        margin-top: 1rem;
        width: 50%;
      }
    }
  }

  .LaunchSkeleton {
    @include flex-column;
    margin-bottom: 3rem;

    .Row {
      display: flex;
      height: 700px;
      margin-top: 3rem;

      .Left {
        width: 200px;
      }

      .Right {
        width: 100%;
        margin-left: 4rem;

        .InfoWrapper {
          @include flex-column;
          margin-top: 2rem;
        }
      }
    }
  }

  .RocketSkeleton {
    display: flex;

    .Left {
      height: 700px;
      width: 300px;
    }

    .Right {
      @include flex-column;
      width: 100%;
      margin-left: 5rem;

      .InfoElement {
        margin-bottom: 1.5rem;
      }
    }
  }
}

@include tablet {
  .SkeletonWrapper {
    .LaunchExtendedInfoSkeleton {
      @include flex-center-column;

      .Right {
        .Details {
          width: 70%;
        }
      }
    }
  }
}
