@import "../../../../resources/styles/index.scss";

.Details {
  padding: 1rem;
  border-radius: 1rem;
  background-color: $foreground;
  box-shadow: 0px 0px 16px 25px rgba(0, 0, 0, 0.55);
  min-width: 320px;
  max-width: 320px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(80px, 20px);

  .One {
    grid-column: 1;
    grid-row: 1;
  }

  .Two {
    grid-column: 2;
    grid-row: 1;
  }

  .Three {
    grid-column: 1;
    grid-row: 2;
  }

  .Four {
    grid-column: 2;
    grid-row: 2;
  }

  .InfoElement {
    @include flex-column;
    margin: 0 1rem;

    h3 {
      color: $fontPrimary;
      white-space: nowrap;
      font-weight: 300;
      margin-bottom: 0.5rem;
    }

    h4 {
      font-weight: 300;
      color: $fontSecondary;
    }
  }
}

@include tablet {
  .Details {
    min-width: 100%;
    max-width: 100%;
  }
}
