@import "../../../resources/styles/index.scss";

.Booster {
  display: flex;
  background-color: $foreground;
  border-radius: 1rem;
}

@include tablet {
  .Booster {
    @include flex-column;
  }
}

a {
  text-decoration: none;
}
