@import "../../../resources/styles/index.scss";

.StarlinkInfo {
  background-color: $background;
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 1rem;
  z-index: 1002;
  padding: 1rem;
  border-radius: 1rem;
  display: flex;

  svg {
    position: absolute;
    top: -10px;
    text-align: center;
    background-color: $background;
    right: 10px;
    color: $red;
    font-size: 2rem;
    cursor: pointer;
  }

  h2 {
    color: $fontPrimary;
    font-weight: 300;
    margin-bottom: 1rem;
  }

  h4 {
    color: $fontSecondary;
    font-weight: 300;
    margin-bottom: 0.4rem;
  }
}

a {
  text-decoration: none;
}

@include mobile {
  .StarlinkInfo {
    @include flex-column;
    width: 100%;
    align-items: flex-start;
  }
}
