@import "../../resources/styles/index.scss";

.Launches {
  margin-top: 8rem;
  padding: 0 14rem;

  .Latest {
    margin-bottom: 3rem;

    h2 {
      font-weight: 100;
      color: $fontPrimary;
      font-size: 3rem;
      margin-bottom: 2rem;
    }
  }

  .Content {
    @include flex-center-column;
    margin: 7rem 0;

    .ButtonsWrapper {
      width: 100%;
      display: flex;
      justify-content: flex-start;
    }

    .ButtonsWrapper > * {
      margin-right: 3rem;
    }
  }
}

@include desktop {
  .Launches {
    padding: 0 7rem;
  }
}

@include large {
  .Launches {
    padding: 0 3rem;
  }
}

@include tablet {
  .Launches {
    padding: 0 1rem;
    @include flex-center-column;
  }
}
