@import "../../../resources/styles/index.scss";

.HeroImage {
  height: 100vh;

  .HeroText {
    @include flex-center-column;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    h2 {
      font-size: 5rem;
      text-transform: uppercase;
    }

    h2,
    h4 {
      color: $fontPrimary;
    }

    h4 {
      font-weight: 100;
      font-size: 1rem;
      width: 80%;
      text-align: center;

      span {
        font-weight: 500;
        color: $blue;
      }
    }
  }
}

@include tablet {
  .HeroImage {
    .HeroText {
      h2 {
        font-size: 3rem;
      }
      h4 {
        font-size: 0.7rem;
      }
    }
  }
}

.Falcon1 {
  background: rgba(0, 0, 0, 0.6) url("../../../resources/images/falcon1_bg.jpg");
  @include cover-background;
}

.Falcon9 {
  background: rgba(0, 0, 0, 0.6) url("../../../resources/images/falcon9_bg.jpg");
  @include cover-background;
}

.FalconHeavy {
  background: rgba(0, 0, 0, 0.6) url("../../../resources/images/fheavy_bg2.jpg");
  @include cover-background;
}

.Starship {
  background: rgba(0, 0, 0, 0.6)
    url("../../../resources/images/starship_bg.jpg");
  @include cover-background;
}
