@import '../../../../resources/styles/index.scss';

.NavElement{
    color: $fontSecondary;
    margin: 1.5rem;
    padding: 0.6rem 0.2rem;
    font-size: 1.6rem;

    &:hover{
        cursor: pointer;
    }

    h4{
        font-weight: 100;
    }
}

.Active{
    border-bottom: 1px solid $blue;
}