@import "../../../resources/styles/index.scss";

.Footer {
  @include flex-center;
  margin-bottom: 1rem;
  font-size: 0.8rem;
  z-index: 1000;
}

@include tablet {
  .Footer {
    font-size: 0.5rem;
  }
}
