@import "../../../resources/styles/index.scss";

.Footer {
  @include flex-center;
  margin-bottom: 1rem;
  font-size: 0.8rem;

  h3 {
    font-weight: 100;
    color: $fontSecondary;
  }

  h3 > a {
    text-decoration: none;
    color: $blue;
    cursor: pointer;
    font-weight: 300;
  }
}

@include tablet {
  .Footer {
    font-size: 0.5rem;
  }
}
