@import "../../../../resources/styles/index.scss";

.DropdownListWrapper {
  z-index: 900;
  width: 100%;
  position: absolute;

  border-radius: 0.5rem;
  padding: 0.4rem;
  margin-top: 65px;
  left: 0;

  .ListElement {
    padding: 0.7rem 0.5rem;
    border-radius: 0.4rem;
    margin: 0.4rem 0;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
}

.Primary {
  background-color: $blue;

  .ListElement {
    &:hover {
      background-color: $foreground;
      color: $blue;
    }
  }

  .Selected {
    background-color: $background;
    color: $blue;
  }
}

.Secondary {
  background-color: $background;
  color: $blue;

  .ListElement {
    &:hover {
      background-color: $foreground;
      color: $blue;
    }
  }

  .Selected {
    background-color: $blue;
    color: $background;
  }
}

@include tablet {
  .DropdownListWrapper {
    .ListElement {
      font-size: 1rem;
    }
  }
}

@include mobile {
  .DropdownListWrapper {
    .ListElement {
      font-size: 0.8rem;
    }
  }
}
