@import "../../resources/styles/index.scss";

.Starlink {
  height: 95vh;
}

a {
  text-decoration: none;
  color: $blue;
}

.SpinnerWrapper {
  z-index: 999;
  width: 100vh;
  height: 100vh;
  position: relative;
}
