@import "../../../resources/styles/index.scss";

.Gallery {
  position: relative;
  @include flex-center;
  height: 100vh;
  overflow-x: hidden;

  .Next,
  .Prev {
    top: calc(50% - 20px);
    position: absolute;
    background: white;
    border-radius: 30px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    z-index: 2;
  }

  img {
    position: absolute;
    width: 100vh;
    border-radius: 1rem;
    object-fit: contain;
  }

  .Next {
    right: 10px;
  }

  .Prev {
    left: 10px;
    transform: scale(-1);
  }
}
