@import "../../../resources/styles/index.scss";

.Button {
  background: transparent;
  border: 1px solid $blue;
  padding: 1rem;
  box-sizing: border-box;
  outline: none;
  color: $blue;
  border-radius: 0.4rem;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  font-size: 1.3rem;
  font-weight: 100;

  &:hover {
    background-color: $blue;
    color: $background;
  }
}

.Selected {
  background-color: $blue;
  color: $background;
}

@include tablet {
  .Button {
    font-size: 1rem;
    font-weight: 300;
  }
}
