@import "../../../../resources/styles/index.scss";

.Author {
  font-weight: 100;
  z-index: 1000;
  color: $fontSecondary;
}

.Author > a {
  text-decoration: none;
  color: $blue;
  cursor: pointer;
  font-weight: 300;
}
