@import "../../../resources/styles/index.scss";

.Page404 {
  @include flex-center-column;
  height: 95vh;

  h2 {
    font-weight: 100;
    color: $fontPrimary;
    margin-bottom: 2rem;
  }

  img {
    position: absolute;
    top: 15%;
    left: 20%;
    transform: rotate(30deg);
  }
}
