@import "../../../resources/styles/index.scss";

.CoreList {
  width: 100%;
  @include flex-column;

  margin-bottom: 2rem;

  h2 {
    font-weight: 100;
    color: $fontPrimary;
    font-size: 2rem;
  }
}

@include tablet {
  .CoreList {
    h2 {
      font-size: 1.5rem;
    }
  }
}

@include mobile {
  .CoreList {
    h2 {
      font-size: 1.5rem;
    }
  }
}
