@import "../../resources/styles/index.scss";

.Launch {
  margin-top: 8rem;
  padding: 0 20%;

  .Row {
    @include flex-center;
    margin-top: 4rem;
    align-items: flex-start;

    .Rocket {
      @include flex-center-column;
      cursor: pointer;
      padding: 0 0.6rem 0.6rem 0.6rem;
      box-sizing: border-box;
      transition: all 0.4s ease-in-out;
      border: 1px solid transparent;
      border-radius: 0.8rem;
      max-width: 163px;
      min-width: 163px;

      &:hover {
        border: 1px solid $fontSecondary;
      }

      h3 {
        font-weight: 100;
        font-size: 1.2rem;
        color: $fontPrimary;
        margin-bottom: 1rem;
      }

      img {
        height: 800px;
      }
    }

    .InfoContainer {
      @include flex-center-column;
      margin-left: 4rem;
      width: 100%;

      .InfoWrapper {
        width: 100%;
        @include flex-column;

        margin-bottom: 2rem;

        h2 {
          font-weight: 100;
          color: $fontPrimary;
          font-size: 2rem;
        }
      }
    }
  }
}

a {
  text-decoration: none;
}

@include desktop {
  .Launch {
    padding: 0 10rem;
  }
}

@include large {
  .Launch {
    padding: 0 4rem;
  }
}

@include tablet {
  .Launch {
    padding: 0 1rem;

    .Row {
      .Rocket {
        text-align: center;

        &:hover {
          border: 1px solid $fontSecondary;
        }
        img {
          height: 400px;
        }
      }

      .InfoContainer {
        margin-left: 0;

        .InfoWrapper {
          h2 {
            font-size: 1.5rem;
          }
        }
      }
    }
  }
}

@include mobile {
  .Launch {
    padding: 0 1rem;

    .Row {
      .Rocket {
        text-align: center;
        max-width: 100px;
        min-width: 100px;

        &:hover {
          border: 1px solid $fontSecondary;
        }
        img {
          height: 400px;
        }
      }

      .InfoContainer {
        margin-left: 0;

        .InfoWrapper {
          h2 {
            font-size: 1.5rem;
          }
        }
      }
    }
  }
}
