@import "../../resources/styles/index.scss";

.Launch {
  margin-top: 8rem;
  padding: 0 24rem;

  .Row {
    @include flex-center;
    margin-top: 4rem;
    align-items: flex-start;

    .Rocket {
      @include flex-center-column;
      cursor: pointer;
      padding: 0.6rem;
      box-sizing: border-box;
      transition: all 0.4s ease-in-out;
      border: 1px solid transparent;
      border-radius: 0.8rem;

      &:hover {
        border: 1px solid $fontSecondary;
      }

      h3 {
        font-weight: 100;
        font-size: 1.2rem;
        color: $fontPrimary;
        margin-bottom: 1rem;
      }

      img {
        height: 800px;
      }
    }

    .InfoContainer {
      @include flex-center-column;
      margin-left: 4rem;
      width: 100%;

      .InfoWrapper {
        width: 100%;
        @include flex-column;

        margin-bottom: 2rem;

        h2 {
          font-weight: 100;
          color: $fontPrimary;
          font-size: 2rem;
        }
      }
    }
  }

  .AdditionalInfo {
    @include flex-column;
    align-items: flex-start;
    margin: 2rem 0;

    h2 {
      font-weight: 100;
      color: $fontPrimary;
      font-size: 3rem;
      margin-bottom: 1rem;
    }

    &__Content {
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    &__Content > * {
      margin: 1rem 0;
    }
  }

  .SocialsContainer {
    @include flex-center;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 3rem;

    .Icon {
      @include flex-center-column;
      cursor: pointer;
      transition: all 0.4s ease-in-out;
      padding: 0.6rem;
      box-sizing: border-box;
      border-radius: 0.7rem;
      min-width: 150px;

      svg {
        color: $blue;
        font-size: 3rem;
      }

      h4 {
        margin-top: 1.2rem;
        font-weight: 100;
        color: $fontSecondary;
      }

      &:hover {
        background-color: $blue;

        svg,
        h4 {
          color: $fontPrimary;
        }
      }
    }
  }

  .YoutubeContainer {
    margin-top: 4rem;

    iframe {
      width: 100%;
      height: 800px;
      border-radius: 1rem;
    }
  }
}
