@import "../../../resources/styles/index.scss";

.CrewPerson {
  @include flex-center-column;
  background-color: $foreground;
  border-radius: 1rem;
  padding: 0.5rem 0.8rem;
  min-width: 220px;
  max-width: 220px;

  img {
    border-radius: 50%;
    height: 210px;
    width: 210px;
    object-fit: cover;
  }

  .Name {
    color: $fontPrimary;
    font-weight: 100;
  }

  .Agency {
    color: $blue;
    font-size: 0.9rem;
  }

  .Name,
  .Agency {
    margin: 0.5rem 0;
  }
}
