@import "../../../resources/styles/index.scss";

.Rocket {
  @include flex-column;
  margin: 0 2rem;
  cursor: pointer;

  h4 {
    font-weight: 100;
    color: $fontPrimary;
    font-size: 1.5rem;
    margin-bottom: 0.6rem;
  }

  img {
    border-left: 1px solid $fontSecondary;
    border-top: 1px solid $fontSecondary;
  }
}
