@import "../../resources/styles/index.scss";

.Rocket {
  .Content {
    @include flex-center;
    margin-top: 2rem;
    padding: 0 20%;
    align-items: flex-start;
    position: relative;

    .Rocket {
      height: 60%;

      img {
        height: 900px;
      }
    }
  }

  .GalleryWrapper {
    padding: 0 1rem;
  }
}

@include large {
  .Rocket {
    .Content {
      padding: 0 10%;
      .Rocket {
        img {
          height: 700px;
        }
      }
    }
  }
}

@include tablet {
  .Rocket {
    .Content {
      padding: 0 1rem;

      .Rocket {
        height: 40%;

        img {
          height: 450px;
        }
      }
    }

    .GalleryWrapper {
      padding: 0 1rem;
    }
  }
}
