@import "../../resources/styles/index.scss";

.Rocket {
  .Top {
    background-blend-mode: darken;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    height: 100vh;

    .HeroText {
      @include flex-center-column;
      position: absolute;
      margin: auto;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;

      h2 {
        font-size: 5rem;
        text-transform: uppercase;
      }

      h2,
      h4 {
        color: $fontPrimary;
      }

      h4 {
        font-weight: 100;
        font-size: 1rem;
        width: 80%;
        text-align: center;

        span {
          font-weight: 500;
          color: $blue;
        }
      }
    }
  }

  .Content {
    @include flex-center;
    margin-top: 2rem;
    padding: 0 20%;
    align-items: flex-start;
    position: relative;

    .Rocket {
      height: 60%;

      img {
        height: 900px;
      }
    }

    .InfoContainer {
      margin-left: 10rem;
      @include flex-column;
      align-items: flex-start;

      p {
        color: $fontPrimary;
        margin-bottom: 1.2rem;
      }

      h3 {
        color: $fontSecondary;
      }

      .RocketDetails {
        @include flex-center-column;
        margin-top: 2rem;
        width: 100%;

        .BtnContainer {
          width: 100%;
          display: flex;
          justify-content: space-between;
          margin-bottom: 1.5rem;
        }

        .BtnContainer > * {
          margin: 0.5rem 0.5rem;
        }

        .DetailsContainer {
          position: relative;
          width: 100%;

          .Details {
            @include flex-center-column;
            justify-content: flex-start;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
          }
        }
      }
    }
  }

  .GalleryWrapper {
    padding: 0 1rem;
    // padding: 0 24rem;
  }
}

@include large {
  .Rocket {
    .Content {
      padding: 0 10%;
      .Rocket {
        img {
          height: 700px;
        }
      }

      .InfoContainer {
        margin-left: 4rem;
      }
    }
  }
}

@include tablet {
  .Rocket {
    .Top {
      .HeroText {
        h2 {
          font-size: 3rem;
        }
        h4 {
          font-size: 0.7rem;
        }
      }
    }

    .Content {
      padding: 0 1rem;

      .Rocket {
        height: 40%;

        img {
          height: 450px;
        }
      }

      .InfoContainer {
        margin-left: 2rem;
        position: relative;

        p,
        h3 {
          font-size: 0.8rem;
        }

        .RocketDetails {
          .BtnContainer {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-bottom: 1.5rem;
          }

          .BtnContainer > * {
            margin: 0.8rem 0;
          }

          .DetailsContainer {
            height: 550px;
          }
        }
      }
    }

    .GalleryWrapper {
      padding: 0 1rem;
    }
  }
}

.Falcon1 {
  background: rgba(0, 0, 0, 0.6) url("../../resources/images/falcon1_bg.jpg");
}

.Falcon9 {
  background: rgba(0, 0, 0, 0.6) url("../../resources/images/falcon9_bg.jpg");
}

.FalconHeavy {
  background: rgba(0, 0, 0, 0.6) url("../../resources/images/fheavy_bg2.jpg");
}

.Starship {
  background: rgba(0, 0, 0, 0.6) url("../../resources/images/starship_bg.jpg");
}
