@import "../../../../resources/styles/index.scss";

.InfoWrapper {
  display: flex;

  h3 {
    font-weight: 100;
    color: $fontSecondary;
    margin-top: 1rem;
  }

  .Title {
    min-width: 130px;
    max-width: 130px;
    margin-right: 1rem;
  }

  .Value {
    text-align: justify;
  }
}

@include tablet {
  .InfoWrapper {
    display: flex;

    h3 {
      margin-top: 0.8rem;
      font-size: 0.8rem;
    }

    .Title {
      min-width: 110px;
      max-width: 110px;
    }
  }
}
