@import "../../../../resources/styles/index.scss";

.MissionsContainer {
  @include flex-column;
  padding: 1rem;

  h3 {
    color: $fontPrimary;
    font-weight: 300;
    margin-bottom: 0.5rem;
  }

  .MissionListWrapper {
    display: flex;
    flex-wrap: wrap;

    .Mission {
      border-radius: 0.7rem;
      transition: all 0.4s ease-in-out;
      cursor: pointer;
      padding: 0.6rem;
      margin: 0.5rem;

      h3 {
        color: $blue;
        margin-bottom: 0.5rem;
        font-size: 1.3rem;
      }

      h4 {
        color: $fontSecondary;
        font-weight: 300;
        font-size: 0.9rem;
      }

      &:hover {
        background-color: $background;
      }
    }
  }
}
