@import "../../../../resources/styles/index.scss";

.Launch {
  @include flex-center-column;
  width: 240px;
  padding: 1.5rem;
  flex-wrap: wrap;
  transition: all 0.4s ease-in-out;
  border-radius: 1rem;

  img {
    width: 80%;
    max-height: 155px;
  }

  h3 {
    text-align: center;
    margin: 1rem 0 0.5rem 0;
    color: $blue;
    font-size: 1.7rem;
    font-weight: 100;
    min-height: 65px;
  }

  .Column {
    @include flex-center;
    margin-bottom: 1.2rem;

    svg {
      font-size: 1.3rem;
      margin-left: 0.8rem;
    }

    h4 {
      color: $fontSecondary;
      font-weight: 100;
      text-align: center;
    }
  }

  &:hover {
    background-color: #040404;
  }
}

@include tablet {
  .Launch {
    h3 {
      font-size: 1.3rem;
      min-height: 40px;
    }

    .Column {
      svg {
        font-size: 1rem;
        margin-left: 0.8rem;
      }

      h4 {
        font-size: 0.7rem;
      }
    }
  }
}

@include mobile {
  .Launch {
    width: 220px;

    h3 {
      font-size: 1.3rem;
      min-height: 40px;
    }

    .Column {
      svg {
        font-size: 1rem;
        margin-left: 0.8rem;
      }

      h4 {
        font-size: 0.7rem;
      }
    }
  }
}
