@import "../../../resources/styles/index.scss";

.CrewList {
  @include flex-column;
  align-items: flex-start;
  margin: 2rem 0;

  h2 {
    font-weight: 100;
    color: $fontPrimary;
    font-size: 3rem;
    margin-bottom: 1rem;
  }

  .Content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .Content > * {
    margin: 1rem 0;
  }
}

@include tablet {
  .CrewList {
    align-items: center;

    h2 {
      font-size: 2rem;
    }

    .Content {
      justify-content: center;
    }

    .Content > * {
      margin: 1rem;
    }
  }
}

@include mobile {
  .CrewList {
    align-items: center;

    h2 {
      font-size: 2rem;
    }

    .Content {
      justify-content: center;
    }

    .Content > * {
      margin: 1rem;
    }
  }
}
