@import "../../resources/styles/index.scss";

.About {
  @include flex-center-column;
  background: rgba(0, 0, 0, 0.5) url("../../resources/images/about_bg.jpg");
  background-blend-mode: darken;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100vh;

  .InfoContainer {
    border-radius: 0.8rem;
    width: 800px;
    padding: 1.2rem;
    background-color: rgba($color: #000000, $alpha: 0.75);
    color: $fontPrimary;

    h2,
    p {
      margin-bottom: 2rem;
    }

    h2 {
      font-size: 3rem;
      font-weight: 100;
    }

    p {
      font-size: 1.2rem;
      font-weight: 300;
    }

    p > a {
      color: $blue;
      cursor: pointer;
      text-decoration: none;
    }
  }
}

@include large {
  .About {
    .InfoContainer {
      width: 500px;

      h2 {
        font-size: 3rem;
      }

      p {
        font-size: 1rem;
      }
    }
  }
}

@include tablet {
  .About {
    .InfoContainer {
      width: 350px;

      h2 {
        font-size: 2.6rem;
      }

      p {
        font-size: 0.9rem;
      }
    }
  }
}

@include mobile {
  .About {
    margin-top: 2rem;

    .InfoContainer {
      width: 90%;

      h2 {
        font-size: 2.6rem;
      }

      p {
        font-size: 0.9rem;
      }
    }
  }
}
