@import "../../../resources/styles/index.scss";

.Content {
  @include flex-center;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: $blue;
  border-radius: 1rem;
  padding: 0.8rem;
  z-index: 999;

  .CloseBtn {
    position: absolute;
    top: -35px;
    cursor: pointer;
    right: 0;
    font-size: 2rem;
    z-index: 999;
    color: $red;
  }
}
