@import "../../../resources/styles/index.scss";

.DropdownWrapper {
  @include flex-column;
  border-radius: 0.5rem;
  position: relative;
  min-width: 280px;
}

.Primary {
  border: 1px solid $blue;
  background-color: transparent;
}

.Secondary {
  border: 1px solid $background;
  background-color: transparent;
}

@include tablet {
  .DropdownWrapper {
    min-width: 220px;
  }
}

@include mobile {
  .DropdownWrapper {
    min-width: 200px;
  }
}
