@import "../../../resources/styles/index.scss";

.LaunchDetails {
  background-color: rgba($color: #000000, $alpha: 0.75);
  padding: 0.8rem;
  display: flex;
  border-radius: 0.8rem;
  margin-top: 2rem;

  h3 {
    font-weight: 100;
    color: $fontSecondary;
    margin-top: 1rem;
  }

  .TitleContainer {
    margin-right: 1rem;
    min-width: 130px;
  }
}
