@import "../../../../resources/styles/index.scss";

.HeaderWrapper {
  @include flex-center;
  padding: 1rem;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  cursor: pointer;

  svg,
  h4 {
    font-size: 1.3rem;
    font-weight: 400;
  }

  svg {
    margin-left: 1rem;
  }
}

.Primary {
  svg,
  h4 {
    color: $blue;
  }
}

.Secondary {
  svg,
  h4 {
    color: $background;
  }
}

@include tablet {
  .HeaderWrapper {
    padding: 1rem;

    svg,
    h4 {
      font-size: 1rem;
    }
  }
}

@include mobile {
  .HeaderWrapper {
    padding: 0.6rem;

    svg,
    h4 {
      font-size: 0.8rem;
    }
  }
}
