@import './resources/styles/index.scss';

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

*{
  margin: 0;
}

body {
  background-color: $background;
  margin: 0;
  font-family: 'Roboto', 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background: #005288;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover{
  background: #0c649e;
}

::-webkit-scrollbar-track{
  background: #A7A9AC;
  border-radius: 5px;
  box-shadow: inset 7px 10px 12px #f0f0f0;
}