@import "../../resources/styles/index.scss";

.Home {
  &__Content {
    padding: 0 14rem;
  }
}

@include desktop {
  .Home {
    &__Content {
      padding: 0 7rem;
    }
  }
}

@include large {
  .Home {
    &__Content {
      padding: 0 4rem;
    }
  }
}

@include tablet {
  .Home {
    &__Content {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0 2rem;
    }
  }
}

@include mobile {
  .Home {
    &__Content {
      padding: 0 1rem;
    }
  }
}
