@import "../../resources/styles/index.scss";

.Vehicles {
  display: flex;
  margin: 6rem 0 4rem 0;
  align-items: flex-end;
  justify-content: space-evenly;
}

a {
  text-decoration: none;
  color: $blue;
}

@include tablet {
  .Vehicles {
    @include flex-center-column;
  }
}

@include mobile {
  .Vehicles {
    @include flex-center-column;
  }
}
