@import "../../../../resources/styles/index.scss";

.Header {
  p {
    color: $fontPrimary;
    margin-bottom: 1.2rem;
  }

  h3 {
    color: $fontSecondary;
  }
}

@include tablet {
  .Header {
    p,
    h3 {
      font-size: 0.8rem;
    }
  }
}
