@import "../../../../resources/styles/index.scss";

.Background {
  width: 100%;
  top: 0;
  background-color: rgba($color: #000000, $alpha: 0.7);
  z-index: 500;
  height: 100%;
  position: fixed;
}

.Menu {
  @include flex-center-column;
  background-color: $foreground;
  border-right: 1px solid $blue;
  justify-content: flex-start;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 200px;
  z-index: 995;
  padding-top: 5rem;

  button {
    z-index: 999;
    outline: none;
    border: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    cursor: pointer;
    position: absolute;
    top: 18px;
    left: 15px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: $blue;
    padding-top: 7px;
    padding-left: 8px;
  }
}
