@import "../../../resources/styles/index.scss";

.InfoLine {
  margin: 0.7rem 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0;
  box-sizing: border-box;
  border-bottom: 1px solid $fontPrimary;

  .Title {
    color: $fontPrimary;
    text-transform: uppercase;
  }

  .Value {
    color: $fontSecondary;
  }

  .Title,
  .Value {
    font-weight: 100;
  }
}

@include tablet {
  .InfoLine {
    font-size: 0.8rem;
  }
}
